* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Barlow", sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #ff0000;
}

/*=========custom-scrollbar==========*/
::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* ======Common======== */
.content {
    width: 1275px;
    margin: 0 auto;
}

/*===========header==========*/
.header .menu-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px 15px;
}


.menu-inner ul {
    display: flex;
}

.menu-inner .tool-right {
    display: flex;
    align-items: center;
}

.search-wrap {
    position: relative;
    width: 680px;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: #f4f4f4;
}

.search-wrap .search-button {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50px;
    border: 0;
    border-radius: 999px;
    padding-top: 5px;
    background-color: #f4f4f4;
    cursor: pointer;
}

.search-wrap input {
    width: 100%;
    background-color: #f4f4f4;
    border: 0;
    padding: 12px 30px 10px 50px;
    border-radius: 999px;
    font-size: 1.6rem;
}

.search-wrap input:focus {
    outline: none;
}

.tool-right .account {
    margin-right: 15px;
}

.tool-right .cart-img {
    position: relative;
    cursor: pointer;
}

.tool-right .badge {
    position: absolute;
    color: red;
    font-weight: 500;
}

/*============navigation============*/
.navbar {
    padding-top: 25px;
    padding-bottom: 20px;
}

.navbar > ul {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.navbar .menu > li {
    position: relative;
}

.navbar .sub-menu {
    position: absolute;
    top: 24px;
    background-color: #fff;
    box-sizing: border-box;
    width: 200px;
}

.navbar a {
    padding-bottom: 5px;
}

.navbar a:hover {
    border-bottom: 2px solid #ff0000;
}

.navbar .sub-menu a {
    display: none;
    padding: 8px 10px 8px 30px;
    border: none;
}

.navbar .menu > li:hover .sub-menu a {
    display: block;
}

.navbar .menu > li .sub-menu a:hover {
    text-decoration: underline;
}

/*===========form==========*/
.width-form-login {
    width: 600px;
    margin: 24px auto;
}
.span-login {
    width: 150px;
    height: 24px;
    float: left;
}
textarea {
    resize: none;
    outline: none;
}
label {
    display: block;
    margin: 12px 0;
}
input {
    width: 447px;
    height: 28px;
    border: 1px solid #ccc;
    outline: none;
}
.Send {
    margin-left: 150px;
    background-color: #19779b;
    width: 104.5px;
    height: 34px;
    color: #fff;
    border: 0;
}

/*=============footer============*/
.container {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
}

.main-footer {
    height: 350px;
    background-color: #f4f4f4;
    line-height: 2.5;
}

.group-footer {
    width: 295px;
}

.title-group {
    font-weight: 600;
}

.fa-brands {
    margin-right: 10px;
}

.footer-bottom {
    margin-top: 30px;
    text-align: center;
    line-height: 1.3;
    margin-bottom: 20px;
}
